.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #001c3c;
}

.step-icon {
  background-color: #e7f1ff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.step-icon:hover {
  background-color: #007bff;
  color: #fff !important;
}

h5 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
